{% load static %}
<!DOCTYPE HTML>
<html>
    <head>
        <title>Audio Visualization using FFT</title>   
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"> 
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <meta name="description" content="Create sounds using 3 oscillators and visualize them on charts">
        <meta name="author" content="Alban Nabla">
        <link href='http://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>
    </head>

    <body>
        <form action="/"> <button type="submit">Home</button> </form> 
        <div>Data Successfully Uploaded.</div>
    </body>
</html>

